# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Additions

##### Using 'or' in if statements

In [2]:
x = 2
y = 3
z = 4

if x == 2 or y == 10:
    print('True')

True

##### Using 'and' in if statements

In [4]:
if x == 2 and y == 10:
    print('True')

##### Using both 'or' and 'and' in if statements

In [6]:
if x == 2 and (y == 3 or z == 1):
    print('True')

### String Manipulation

##### .lstrip()

In [12]:
name = ' connor            '

name_without_left_space = name.lstrip()

name_without_left_space

'connor            '

##### .rstrip()

In [14]:
name.rstrip()

' connor'

##### .strip()

In [19]:
name.strip()

names = [' connor ', ' max ', 'evan']
new_list = []
for name in names:
    if name.strip() == 'connor':
        new_list.append(name.strip())
    
new_list

['connor']

##### .title()

In [24]:
names = ['connor', 'max', 'evan']

for name in names:
    print(name.title())

Connor
Max
Evan

### String Exercise - Late Addition<br>
<p>Strip all white space and capitalize every name in the list given</p>

In [28]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
new_names = []

for name in names:
#     new_names.append(name.strip().title()) same result as 3 steps below
    # step 1: strip the name of whitespace
    new_name = name.strip()
    # step2: capitalize the first letter of the name
    new_name = new_name.title()
    # step3: append the name to my new_names list
    new_names.append(new_name)
    
new_names
# output = ['Connor', 'Max', 'Evan', 'Jordan']

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [115]:
nums = [3, 5, 1]

min(nums)

'connor'

##### max()

In [36]:
max(nums)

5

##### sum()

In [37]:
sum(nums)

9

##### sorted()

In [38]:
sorted(nums)

[1, 3, 5]

##### Copying a List

In [47]:
l_1 = ['connor', 'max', 'jordan']
l_2 = l_1[:] # copies a list

if l_1 is l_2:
    l_2[0] = 'evan'

    print("This is l_1: {}".format(l_1))
    print("This is l_2: {}".format(l_2))
else:
    print('not same')

not same

##### 'in' keyword

In [49]:
if 'connor' in l_1:
    print('it\'s there')
else:
    print('not there')

it's there

##### 'not in' keyword

In [51]:
if 'zac' not in l_1:
    print('it\'s not there')
else:
    print('it is there')

it's not there

##### Checking an Empty List

In [58]:
l_1 = [2, 3]

if l_1:
    print('not empty')
else:
    print('empty')
    
my_string = 'adsf'

if my_string:
    print('not an empty string')

not empty
not an empty string

##### Removing Instances with a Loop

In [59]:
names = ['connor', 'connor', 'connor', 'evan', 'max', 'evan']

while 'connor' in names:
    names.remove('connor')
    
names

['evan', 'max', 'evan']

### List Exercise - Late Addition <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [67]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

# while names.count('connor') > 1 or names.count('evan') > 1:
#     if names.count('connor') > 1:
#         names.remove('connor')
#     elif names.count('evan') > 1:
#         names.remove('evan')

# names

# Step 1: Loop through each item in given list
for name in names:
    # Step 2: Run loop while that item is in list more than once
    while names.count(name) > 1:
        # Step 3: Remove that item from given list
        names.remove(name)
# Step 4: Print/Output list
print(names)

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [76]:
# number comprehension
my_list = [number for number in range(10)]
# print(my_list)


# same thing as above
# my_list = []
# for x in range(10):
#     my_list.append(x)

l_2 = [index for index in range(100)]
print(l_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [79]:
# square number comprehension
my_list = [x**2 for x in range(10)]
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [83]:
# string comprehension
words = ['This', 'is', 'a', 'list']

my_list = [face[0] for face in words]
my_list

['T', 'i', 'a', 'l']

In [85]:
# using the 'if' statement
my_list = [num for num in range(10) if num != 5]
my_list

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [89]:
# using multiplication outside the list
my_list = [[num for num in range(5)] for num in range(5)]
my_list

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

## List Comprehension Exercise - Late Addition <br>
<p>Create a grid of alternating 0's and 1's (5x5 grid)</p>

In [93]:
my_list = [[num%2 for num in range(5)] for index in range(5)]
my_list

[[0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0]]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [105]:
my_tuple = (2, 3, 1)

my_tuple = (3, 2, 1)
my_tuple

sum(my_tuple)

6

##### sorted()

In [114]:
# my_list = sorted(my_tuple)
# my_tuple
# print(my_list)

my_tuple = ([2, 3, 4], 2, 3)
my_tuple[0].append('This')
my_tuple

([2, 3, 4, 'This'], 2, 3)

## Functions

##### User-Defined vs. Built-In Functions

In [119]:
# range() = built-in
def sumNumbers():
    return 2 + 2

total = sumNumbers()

print(total)

4

##### Accepting Parameters

In [126]:
# order matters
# can take in any type of variable
def sumNumbers(row, col):
    print('You would have {} rows.'.format(row))
    print('You would have {} cols.'.format(col))

    
x = 2
y = 3
sumNumbers(y, x)

You would have 3 rows.
You would have 2 cols.

##### Default Parameters

In [131]:
# name='connor'
def sumNumbers(num1, num2, num3 = 5):
    return num1 + num2 + num3

sumNumbers(2, 3, 2)

7

##### Making an Argument Optional

In [133]:
# name=''
def printFullName(first_name, last_name, middle_name='', sir_name=''):
    print('Hello {} {} {}!'.format(first_name, middle_name, last_name))
    
printFullName('Connor', 'Milliken')

Hello Connor  Milliken!

##### Keyword Arguments

In [135]:
# name='Connor'
def printFullName(first_name, last_name, middle_name='', sir_name=''):
    print('Hello {} {} {}!'.format(first_name, middle_name, last_name))
    
printFullName(last_name='Connor', first_name='Milliken')

Hello Milliken  Connor!

##### Returning Values

In [139]:
def fullName(first_name, last_name, middle_name=''):
    return first_name + ' ' + middle_name + ' ' + last_name

name = fullName('Connor', 'Milliken')

print(name.lower())

connor  milliken

##### *args

In [151]:
def addNumbers(*args):
    for arg in args:
        print(arg)

addNumbers('word', True, 3, False, [4, 5, 6, 7])

word
True
3
False
[4, 5, 6, 7]

##### Docstring

In [155]:
def addNumbers(x, y):
    '''
        This function returns the addition of x and y parameters!
    '''
    return x + y

print(addNumbers.__doc__)

        This function returns the addition of x and y parameters!

##### Using a User Function in a Loop

In [156]:
my_nums = [2, 3, 4, 5, 6]
my_nums2 = [6, 5, 4, 3, 2]

for index in range(len(my_nums)):
    print(addNumbers(my_nums[index], my_nums2[index]))

8
8
8
8
8

## Function Exercise - Late Addition <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
first_name = ['Connor', 'Evan', 'Jordan', 'Max']
last_name = ['Milliken', 'Smith', 'Williams', 'Bell']

# ['Connor Milliken', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [161]:
# placement of variable declaration matters

x = 2 # global variable

def printNum():
    numbers_that_i_havent_defined = 3 # local scope - within a function
    print(x)
    
printNum()
print(x)
print(numbers_that_i_havent_defined)

2
2

NameError: name 'numbers_that_i_havent_defined' is not defined

# Exercises

## Exercise 1 <br>
<p>Write a function that performs a bubble sort<br><i><b>Hint: in place assignment is 'num[x], num[x+1] = num[x+1], num[x]'</b></i></p>

In [165]:
def bubbleSort(aList):
    for x in range(len(aList) - 1):
        for y in range(0, len(aList) - 1):
            print(aList)
            if aList[y] > aList[y + 1]:
                aList[y], aList[y + 1] = aList[y + 1], aList[y]
    return aList

bubbleSort([2, 6, 1, 9, 3])

[2, 6, 1, 9, 3]
[2, 6, 1, 9, 3]
[2, 1, 6, 9, 3]
[2, 1, 6, 9, 3]
[2, 1, 6, 3, 9]
[1, 2, 6, 3, 9]
[1, 2, 6, 3, 9]
[1, 2, 3, 6, 9]
[1, 2, 3, 6, 9]
[1, 2, 3, 6, 9]
[1, 2, 3, 6, 9]
[1, 2, 3, 6, 9]
[1, 2, 3, 6, 9]
[1, 2, 3, 6, 9]
[1, 2, 3, 6, 9]
[1, 2, 3, 6, 9]

[1, 2, 3, 6, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

## Exercise 3 <br>
<p> Ask the user to input a number and check if that number is prime using a function, loop until they no longer want to check a number.<br><b><i>Hint: Use yesterday's prime number code</i></b></p>

## Exercise 4 <br>
<p>Ask the user to input a number of rows they'd like to build a pyramid to... then build a pyramid to that specific number of rows.<br><b><i>Hint: Use the pyramid code from yesterday and throw it into a function</i></b></p>

## Exercise 5 <br>
<p>Create a calculator using functions that asks for two numbers and performs a calculation that the user inputs... Loop until the user chooses not to perform any more calculations.<br><b><i>Hint: Take yesterday's code from the extra exercise...</i></b></p>